<phpunit
        bootstrap                               = "tests/bootstrap.php"
        convertErrorsToExceptions               = "true"
        convertNoticesToExceptions              = "true"
        convertWarningsToExceptions             = "true"
        beStrictAboutTestsThatDoNotTestAnything = "true"
        beStrictAboutTestSize                   = "true"
>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
			<directory suffix=".php">examples</directory>
		</whitelist>
	</filter>
</phpunit>
